* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*outline: 1px solid gray;*/
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f0f0f0;
    color: #333333;
}

header {
    background-color: #005f99;
    color: white;
    padding: 10px;
    font-size: 16pt;
    text-align: center;
}

header .container {
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    gap: 10em;
}

header .container{
    margin-left: 20px;
    margin-right: 20px;
}
header .logo img {
    max-width: 60px;
    height: auto;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 2em;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    color: #ffcc00;
}

#home{
    background-image: url('https://szuflandia.pjwstk.edu.pl/~s30158/resources/2022-Toyota-Corolla-Tech-3-banner.png');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 75px;
    max-height: 330px;
}

#home .container{
    left: 100%;
}

.button{
    margin-top: 10px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffcc00;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.4s ease;
}

#home .button:hover{
    background-color: #f2b200;
}

#about{
    display: flex;
    background-color: white;
    padding: 80px 0;
    align-items: center;
    justify-content: center;
    align-content: center;
}

#about .container{
    max-width: 60%;
}

#about h2{
    text-align: center;
    font-size: 24pt;
    margin-bottom: 30px;
}

#about p{
    text-align: justify;
    font-size: 14pt;
    line-height: 1.5;
}

#features{
    display: flex;
    background-color: #f5f5f5;
    padding: 80px 0;
    align-items: center;
    justify-content: center;
    align-content: center;
}

#features .container{
    max-width: 60%;
}

#features h2{
    text-align: center;
    font-size: 24pt;
    margin-bottom: 30px;
}

#features ul {
    list-style-type: none;
    text-align: center;
    margin-top: 30px;
}

#features ul li {
    margin-bottom: 20px;
    text-align: justify;
}

#features ul li a {
    font-weight: bold;
}

#testimonials {
    background-color: #333;
    color: white;
    padding: 80px 0;
    text-align: center;
}

#testimonials h2 {
    text-align: center;
    font-size: 24pt;
    margin-bottom: 30px;
}

.testimonials {
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3em;
}

.testimonial {
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    color: #333;
    display: flex;
    align-items: center;
    text-align: left;
    gap: 20px;
}

.testimonial img {
    width: 40px;
    height: auto;
    flex-shrink: 0;
    border: 1px solid #333;
    border-radius: 50%;
}

.testimonial-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.testimonial p{
    margin: 0;
}

.testimonial a{
    max-height: 40px;
}

.testimonial .name {
    margin-top: 10px;
    font-weight: bold;
}

#gallery{
    background-color: #f5f5f5;
    padding: 80px 0;
    align-items: center;
    align-content: center;
}

#gallery h2 {
    text-align: center;
    font-size: 24pt;
    margin-bottom: 30px;
}

#gallery .container{
    display: flex;
    justify-content: space-around;
}

.gallery {
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 100%;
}

.gallery:hover {
    border: 1px solid #777;
}

.gallery img {
    width: 100%;
    height: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.desc {
    padding: 15px;
    text-align: center;
}

.responsive {
    width: 12%;
}

#contact {
    background-color: #fff;
    padding: 80px 0;
}

#contact h2 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 30px;
}

#contact form {
    max-width: 600px;
    margin: 0 auto;
}

#contact form input, #contact form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contact form .button {
    margin-top: 10px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffcc00;
    color: #333;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.4s ease;
}

#contact form .button:hover {
    background-color: #f2b200;
}